---
import BG from "@/components/BG.astro"
import Grid from "@/components/Grid.astro"
import Header from "@/components/Header.astro"
import SEO from "@/components/SEO.astro"
import type { Preload } from "@/types/Preload"
import "@fontsource/poppins/100.css"
import "@fontsource/poppins/200.css"
import "@fontsource/poppins/300.css"
import "@fontsource/poppins/400.css"
import "@fontsource/poppins/500.css"
import "@fontsource/poppins/600.css"
import "@fontsource/poppins/700.css"
import "@fontsource/poppins/800.css"
import "@fontsource/poppins/900.css"
// Supports weights 300-900
import "@fontsource-variable/rubik"
import ViewTransitions from "astro/components/ViewTransitions.astro"

interface Props {
	title: string
	description: string
	preload?: Array<Preload>
	canonical?: string
	image?: string
}

const { title, description, preload, canonical, image } = Astro.props
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<SEO
			title={title}
			description={description}
			preload={preload}
			canonical={canonical}
			image={image}
		/>
		<link
			rel="preload"
			as="image"
			href="/img/logo/subvray-Phone.webp"
			imagesrcset="/img/logo/subvray-Phone.webp 320w"
			imagesizes="(max-width: 320px) 320px"
		/>

		<link rel="preload" as="image" href="/bg-dark.svg" />
		<ViewTransitions />
	</head>
	<body class="relative px-4 text-gray-800 dark:text-gray-200 md:px-10" id="subvray">
		<BG />
		<Grid />
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--color-primary: #142c5c;
		--color-secondary: #2a376e;
		--color-accent: #2a376e;
		--color-neutral: #2a376e;
		--color-neutral-focus: var(--color-neutral);
		--color-neutral-content: var(--color-neutral);
		--color-base-100: #556195;
		--color-base-200: #2a376e;
		--color-base-300: #2a376e;
		--color-base-content: #2a376e;
		--color-info: #142c5c;
		--color-success: #142c5c;
		--color-warning: #142c5c;
		--color-error: #142c5c;
		color-scheme: light dark;
	}
	html {
		scroll-behavior: smooth;
		font-family: "Rubik Variable", "Poppins", system-ui, sans-serif;
	}

	.bg-container {
		position: fixed !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: -50;
	}

	.bg {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover !important;
		background-position: initial !important;
		background-image: url("/bg-dark.svg");
		background-attachment: fixed !important;
	}

	@media (max-width: 500px) {
		.bg {
			background-size: initial !important;
			background-position: initial !important;
			background-attachment: fixed !important;
		}
	}

	.bg.dark {
		background-image: url("/bg-dark.svg");
	}
	.bg.light {
		background-image: url("/bg-light.svg");
	}

	body::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
		z-index: -1;
	}
	html::-webkit-scrollbar {
		width: 8px;
	}
	html::-webkit-scrollbar-track {
		background-image: url("/bg-dark.svg");
	}
	html::-webkit-scrollbar-thumb {
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
</style>
